<% @page_title = "Delete Subject" %>

<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects delete">
  <h2>Delete Subject</h2>

  <%= form_for(@subject, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this subject?</p>
    <!-- <FORM method="POST"
          onSubmit="return checkDelete(this,'A');"
    >

    <INPUT TYPE="RADIO" VALUE="A" NAME="cc">
    A. Yes<BR>

    <INPUT TYPE="RADIO" VALUE="B" NAME="cc">
    B. No<BR>


    <INPUT TYPE="SUBMIT" VALUE="Submit Answer">

    </FORM> -->

    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Subject") %>
    </div>

  <% end %>
</div>
