<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS: <%= @page_title || "Admin Area" %></title>
    <!-- <link rel="stylesheet" type="text/css" href="app\assets\stylesheets\styles.css"> -->
  </head>



  <body>

  <% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <!-- before yield -->
  <%= yield %>
  <!-- after yield -->

  </body>
</html>
